.table-avatar-container {
  width: 56%;
  display: flex;
  justify-content: center;
}

.table-avatar {
  transform: scale(0.7);
  padding-top: 2px;
  margin-left: 11px;
}

.table-icon {
  transform: scale(0.8);
  padding-top: 2px;
}

button.open {
  width: 100px;
  color: teal;
  border: 1px solid teal;
  cursor: default;
}

button.closed {
  width: 100px;
  color: red;
  border: 1px solid red;
  cursor: default;
}

.days-in-queue-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.queue-status {
  height: 13px;
  width: 13px;
  border-radius: 13px;
  margin: 0 5px 2px 5px;
}

.queue-status.green {
  background-color: green;
}

.queue-status.orange {
  background-color: orange;
}

.queue-status.red {
  background-color: red;
}

TableCell.asdf {
  color: pink;
}
